svg {
	width: 100%;
	padding-bottom: 100%;
}
.svg-container {
	overflow: hidden;
}

.tile-type {
	font-family: sans-serif;
	font-size: 20px;
}

.region {
	.hexagon {
		fill-opacity: 0;
		stroke: black;
		stroke-opacity: .1;
	}
}
.liberty {
	.hexagon {
		fill: #005500;
		fill-opacity: 1;
	}
}
.capture {
	.hexagon {
		fill: #550055;
		fill-opacity: 1;
	}
}
.illegal {
	.hexagon {
		fill: #550000;
		fill-opacity: 1;
	}
}


.tile-type,
.tile {
	.triangle {
		fill-opacity: 0;
		pointer-events: none;
	}

	.tile-img {
		opacity: .5;
	}

	&[data-o="0"] {
		.tile-img {
			transform-origin: 100px 108px;
			transform:
				scale(.63)
				translate(-159px, -140px)
				rotate(180-13.89deg);
		}
	}

	&[data-o="1"] {
		.tile-img {
			transform-origin: 100px 108px;
			transform:
				scale(.63)
				translate(-186px, -155px)
				rotate(240-13.89deg);
		}
	}

	&[data-o="2"] {
		.tile-img {
			transform-origin: 100px 108px;
			transform:
				scale(.63)
				translate(-159px, -138.5px)
				rotate(300-13.89deg);
		}
	}

	&[data-o="3"] {
		.tile-img {
			transform-origin: 100px 108px;
			transform:
				scale(.63)
				translate(-186px, -155px)
				rotate(-13.89deg);
		}
	}

	&[data-o="4"] {
		.tile-img {
			transform-origin: 100px 108px;
			transform:
				scale(.63)
				translate(-159px, -139.5px)
				rotate(60-13.89deg);
		}
	}

	&[data-o="5"] {
		.tile-img {
			transform-origin: 100px 108px;
			transform:
				scale(.63)
				translate(-185.5px, -156px)
				rotate(120-13.89deg);
		}
	}
}
.nub {
	.triangle {
		cursor: pointer;
		fill-opacity: .25;
		fill: red;
	}
}


.hexagon {
	-webkit-transition: fill .15s ease-in-out;
	-moz-transition: fill .15s ease-in-out;
	-ms-transition: fill .15s ease-in-out;
	-o-transition: fill .15s ease-in-out;
	transition: fill .15s ease-in-out;
	
	-webkit-transition: fill-opacity .15s ease-in-out;
	-moz-transition: fill-opacity .15s ease-in-out;
	-ms-transition: fill-opacity .15s ease-in-out;
	-o-transition: fill-opacity .15s ease-in-out;
	transition: fill-opacity .15s ease-in-out;
}

.claimable,
.claim-mark {
	cursor: pointer;
	-webkit-transition: transform .25s ease-out;
	-moz-transition: transform .25s ease-out;
	-ms-transition: transform .25s ease-out;
	-o-transition: transform .25s ease-out;
	transition: transform .25s ease-out;
	
	transform: scale(1.75);
}

.preview-claimed {
	.claimable,
	.claim-mark {
		transform: scale(2);
	}
}

.preview-claimed.preview-red,
.claimed.red {
	.claim-mark {
		fill: red;
	}
	.claimable {
		stroke: red;
	}
}

.preview-claimed.preview-blue,
.claimed.blue {
	.claim-mark {
		fill: blue;
	}
	.claimable {
		stroke: blue;
	}
}

#tile-types-group {
	.tile-type {

		.tile-group {
			cursor: pointer;

			opacity: .8;
			
			-webkit-transition: all .25s ease-out;
			-moz-transition: all .25s ease-out;
			-ms-transition: all .25s ease-out;
			-o-transition: all .25s ease-out;
			transition: all .25s ease-out;
			
			transform: scale(1);
			
			&:hover {
				transform: scale(1.1);
			}
			
		}
		&.selected .tile-group{
			opacity: 1;
			transform: translate(10px, 0px) scale(1.2);
		}
	}
}