.region {
	.hexagon {
		fill-opacity: 0;
	}
}
.liberty {
	.hexagon {
		fill: #005500;
		fill-opacity: 1;
	}
}
.capture {
	.hexagon {
		fill: #550055;
		fill-opacity: 1;
	}
}
.illegal {
	.hexagon {
		fill: #550000;
		fill-opacity: 1;
	}
}


.tile {
	.triangle {
		fill-opacity: 0;
		stroke: black;
		pointer-events: none;
	}
}
.tile.nub {
	.triangle {
		fill-opacity: .25;
		fill: red;
		pointer-events: none;
	}
}


.hexagon {
	-webkit-transition: fill .15s ease-in-out;
	-moz-transition: fill .15s ease-in-out;
	-ms-transition: fill .15s ease-in-out;
	-o-transition: fill .15s ease-in-out;
	transition: fill .15s ease-in-out;
	
	-webkit-transition: fill-opacity .15s ease-in-out;
	-moz-transition: fill-opacity .15s ease-in-out;
	-ms-transition: fill-opacity .15s ease-in-out;
	-o-transition: fill-opacity .15s ease-in-out;
	transition: fill-opacity .15s ease-in-out;
}

.claimable,
.claim-mark {
	-webkit-transition: transform .25s ease-out;
	-moz-transition: transform .25s ease-out;
	-ms-transition: transform .25s ease-out;
	-o-transition: transform .25s ease-out;
	transition: transform .25s ease-out;
	
	transform: scale(1);
}

.preview-claimed {
	.claimable,
	.claim-mark {
		transform: scale(1.45);
	}
}

.preview-claimed.preview-red,
.claimed.red {
	.claim-mark {
		fill: red;
	}
	.claimable {
		stroke: red;
	}
}

.preview-claimed.preview-blue,
.claimed.blue {
	.claim-mark {
		fill: blue;
	}
	.claimable {
		stroke: blue;
	}
}